.single-audio-player-container {
  margin: 10px;
  height: 150px;
  padding: 6px;
  border-radius: 6px;
      background: linear-gradient(to right, #656567, #302b63, #656567);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}
.single-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-artist-username {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.single-song-title {
  color: rgb(0, 0, 0);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.single-audio-player-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.995);
}

.ply-button {
  width: 16px;
  transition: 0.3s;

}

.ply-button:hover {
  width: 18px;

}


@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-once {
  animation: rotateOnce 1s ease-in-out;
}